<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name="dev.terashima.yomitorirss.feature.health.HealthPermissionsRationaleActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
      </intent-filter>
    </activity>

    <activity-alias
      android:name="dev.terashima.yomitorirss.feature.health.ViewHealthPermissionUsageActivity"
      android:exported="true"
      android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
      android:targetActivity="dev.terashima.yomitorirss.feature.health.HealthPermissionsRationaleActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
        <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
