<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name="dev.terashima.yomitorirss.feature.game.GodotSudokuActivity"
      android:configChanges="layoutDirection|locale|orientation|keyboardHidden|screenSize|smallestScreenSize|density|keyboard|navigation|screenLayout|uiMode"
      android:exported="false"
      android:process=":godot"
      android:screenOrientation="portrait"
      android:theme="@style/MosaicGodotGameTheme" />
  </application>
</manifest>
