<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name="dev.terashima.yomitorirss.feature.game.GodotSudokuActivity"
      android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
      android:exported="false"
      android:screenOrientation="portrait"
      android:theme="@style/MosaicGodotGameTheme" />
  </application>
</manifest>
